h1 Authenticate
p Authenticate to your Github Gists, and Cssizer will allow you to visually edit and create any Gist with HTML and CSS.
p All work done here can be saved back to your Gist, and vice versa.

a.btn.btn-block(href= "/auth/github")
  i.icon.icon-mark-github
  = "OAuth Github"