head
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="/favicon.ico" type="image/x-icon")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="/css/vendor.min.css" type="text/css" media="screen" charset="utf-8")
  link(rel="stylesheet" href="/icomoon/style.css" type="text/css" media="screen" charset="utf-8")
  link(rel="stylesheet" href="/less-css/app.css" type="text/css" media="screen" charset="utf-8")