@import 'theme';
@import 'mixins';
@import 'variables';
@import 'forms';
@import 'modal';
@import 'editor';
@import "https://fonts.googleapis.com/css?family=Crete+Round";

html, body {
  height: 100%;
  font-family: @fontDisplay;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: @bgBlue;
}

header {
  height: @headerHeight;
  background-color: silver;
  position: fixed;
  width: 100%;
  padding: @padding;
}

article {
  .flex-display();
  .flex-flow(row wrap);
  .align-content(stretch);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: @headerHeight;

  & > * {
    flex: 1 auto;
  }

  .preview {
    iframe {
      background-color: lighten(#11242d, 2%);
    }
  }
}



// @media (min-width: @breakLg) {
//   .source:last-child { .divider(top); }
//   .preview {
//     flex: 1 auto;
//     .divider(left);
//   }
// }

// @media (max-width: @breakLg) {

//   .source:last-child { .divider(top); }
//   .preview { .divider(left); }
// }

// @media (max-width: @breakMd) {

//   .source {
//     &:last-child { .divider(left); }
//   }

//   .preview { .divider(top); }
// }

// @media (max-width: @breakSm) {
//   .source {
//     &:last-child { .divider(top); }
//   }
//   .preview { .divider(top); }
// }

