
form {
  textarea, input[type=text] {
    background-color: lighten(@bgBlue, 10%);
    border: none;
    display: block;
    width: 100%;
    border: 1px solid @bgBlue;
    padding: @padding;

    &:focus {
      background-color: lighten(@bgBlue, 15%);
    }
  }
}

a.btn, button.btn {
  display: inline-block;
  text-align: center;
  font-size: 21px;
  padding: @padding/2;
  background-color: @darkPurple;
  color: @purple;
  text-transform: uppercase;
  border: 1px solid darken(@purple, 50%);
  text-decoration: none;

  &.btn-block {
    display: block;
    width: 100%;
  }

  .icon {
    margin-right: @padding/2;
  }

  &:hover {
    background-color: darken(@purple, 38%);
  }

}