#lib-modal {

  .content {
    // background-color: lighten(@bgBlue, 10%);

    ul {
      list-style: none;
      padding: 0;
      margin: @padding 0 0 0;

      li {
        &:nth-child(odd) {
          background-color: @lightBlue;
        }

        a {
          .trans(all, 0.2s, ease-out);
          padding: @padding/2 @padding;
          display: block;
          text-decoration: none;
          color: @purple;

          i {
            margin-right: 6px;
            font-size: 14px;
          }

          &:hover {
            background-color: @darkPurple;
            color: @purple;
          }
        }
      }
    }
  }
}