
@modalBorderWidth: 5px;
@modalBorderColor: darken(@bgBlue, 2%);

body.modal-open {
  article, header {
    -webkit-filter: blur(2px);
  }
}

.modal {
  .align-content(center);
  .justify-content(center);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 3;

  &.active  {
    .flex-display();
  }

  .loading {
    text-align: center;
    padding: @padding;

    i {
      display: inline-block;
      font-size: 50px;
      animation-name: spin;
      animation-duration: 400ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }

  .close {
    .trans(all, 0.2s, ease-out);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    background-color: @modalBorderColor;
    text-align: center;
    width: @padding*2;
    height: @padding*2;
    color: @textColor;
    cursor: pointer;

    &:hover {
      color: @yellow;
      background-color: @bgBlue;
    }

    i {
      line-height: @padding*2;
      display: inline-block;
      font-size: @padding;
    }
  }

  .backdrop {
    animation-duration: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
  }

  .content {
    .align-self(center);
    height: auto;
    position: relative;
    border-radius: @borderRadius;
    animation-duration: 0.2s;
    border: @modalBorderWidth solid @modalBorderColor;
    border-radius: @borderRadius;
    background-color: @bgBlue;
    width: 500px;
    padding: @padding;
    margin-top: 0;
    z-index: 1;
    max-width: 90%;
    max-height: 90%;
      overflow-y: auto;

    .well {
      height: 100%;
      background-color: lighten(@lightBlue, 2%);
      padding: @padding;
    }
  }
}