
@bgBlue: #11242d;
@yellow: #ffcc61;
@purple: #bb80ad;
@blue: #5092cc;
@red: #f27365;
@orange: #f99157;

@borderRadius: 5px;
@textColor: @bgBlue;
@padding: 20px;
@fontDisplay: 'Crete Round', serif;

@breakLg: 1200px;
@breakMd: 900px;
@breakSm: 750px;
