
@bgBlue: #11242d;
@darkBlue: darken(@bgBlue, 2%);
@bgTrans: rgba(17, 36, 45, 0.85);
@lightBlue: lighten(@bgBlue, 2%);
@yellow: #ffcc61;
@purple: #bb80ad;
@darkPurple: darken(@purple, 40%);
@blue: #5092cc;
@red: #f27365;
@orange: #f99157;

@borderRadius: 5px;
@textColor: @bgBlue;
@padding: 20px;
@fontDisplay: 'Crete Round', serif;

@breakLg: 1200px;
@breakMd: 900px;
@breakSm: 750px;

@headerHeight: 40px;
@headerZ: 2;