doctype html
html
  head
    link(rel="stylesheet" href="/css/vendor.min.css" type="text/css" media="screen" charset="utf-8")
    link(rel="stylesheet" href="/icomoon/style.css" type="text/css" media="screen" charset="utf-8")
    link(rel="stylesheet" href="/less-css/app.css" type="text/css" media="screen" charset="utf-8")

   body
    h1 hello this is login
    a.btn(href= "/auth/github") authenticate