@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?h1i50f');
    src:    url('fonts/icomoon.eot?h1i50f#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?h1i50f') format('truetype'),
        url('fonts/icomoon.woff?h1i50f') format('woff'),
        url('fonts/icomoon.svg?h1i50f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
    content: "\f05f";
}
.icon-comment:before {
    content: "\f02b";
}
.icon-comment-discussion:before {
    content: "\f04f";
}
.icon-diff-added:before {
    content: "\f06b";
}
.icon-mark-github:before {
    content: "\f00a";
}
.icon-markdown:before {
    content: "\f0c9";
}
.icon-repo-forked:before {
    content: "\f002";
}
.icon-screen-full:before {
    content: "\f066";
}
.icon-screen-normal:before {
    content: "\f067";
}
.icon-star:before {
    content: "\f02a";
}
.icon-x:before {
    content: "\f081";
}

