
h1 Your Gists
p Below are all your Gists that have an HTML and a CSS document.
a.btn.btn-block(href="/gist/new")
  i.icon-diff-added
  = "Create New Gist"
ul
  - each gist in gists
    li
      a(href= "/gist/#{gist.id}/edit")
        i.icon-mark-github
        = gist.description || Object.keys(gist.files)[0]
