html,body{
	display:block;
	height:100%;
	background-color:#e8e8e8;
	overflow:hidden;
	font-family:'Helvetica',Verdana,Arial,sans-serif;
}

body{
	background-color:#fff;
}

#docSelect{
	position:absolute;
	right:14px;
	top:2px;
	z-index: 1;
}



#dragIcon{
	position:absolute;
	top:50%;
	left:0;
	margin-top:-36px;

}

#resizeHandle{
	position:absolute;
	top:36px;
	left:50%;
	width:10px;
	height:100%;
	z-index: 4;

	background: #e8e8e8; /* old browsers */
	border-top:none;

	cursor:ew-resize;
	-webkit-box-shadow: 0px 1px 1px #fff;
	-moz-box-shadow: 0px 1px 1px #fff;
	-khtml-box-shadow: 0px 1px 1px #fff;
}

#linkHolder{
	position:fixed;
	left:50%;
	top:-30px;

	width:500px;
	height:auto;

	margin-left:-290px;
	padding:40px;
	padding-top:65px;

	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	-khtml-box-shadow: 0px 0px 20px #000;

	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px;

	z-index: 4;
	display:none;
	background-color: #f7f7f7;
	background-image: -webkit-gradient(linear, left top, left bottom, to(#fff), from(#ebebeb));
	background-image: -webkit-linear-gradient(top, #fff, #ebebeb);
	background-image: -moz-linear-gradient(top, #fff, #ebebeb);
	background-image: -o-linear-gradient(top, #fff, #ebebeb);
	background-image: -ms-linear-gradient(top, #fff, #ebebeb);
	background-image: linear-gradient(top, #ff, #ebebeb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#ebebeb');

	border:8px solid #dfdfdf;
	border-top:none;

}


#linkHolder h2{
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 10px 0px;
	border-bottom:1px solid #dfdfdf;
	color:#999;
	font-size:24px;
	text-shadow: 1px 1px 0px #fff;
	letter-spacing:-0.06em;
}


#linkHolder label{
	font-size:12px;
	color:#999;
	font-weight:normal;
	width:120px;
	display:inline-block;
	text-align:right;
	text-shadow: 1px 1px 0px #fff;
}

#linkHolder input[type=text]{
	border:none;
	width:230px;
	color:#444;
	background-color:#fff;
	padding:4px;
	font-size:13px;
	margin-left:5px;
	border:1px solid #dfdfdf;
}

#htmlPreview{
	border:none; 
	overflow:auto; 
	width:100%;
	height:20px;
}




#modal{
	background-color:black;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	-khtml-opacity: .6;  
	-moz-opacity: .6;
	opacity: .6;  
	filter: alpha(opacity=60);  
	display:none;
}

/* tabs */

.cssizer_tabs{
	display:block;
	overflow:hidden;
	height:36px;
	padding: 0px 0px 0px 30px;

	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, to(rgb(255, 255, 255)), from(rgb(232, 232, 232)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(232, 232, 232));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(232, 232, 232));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(232, 232, 232));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(232, 232, 232));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(232, 232, 232));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e8e8e8');

}

.cssizer_tabs a{
	display:inline-block;
	padding: 5px;
	color:#000;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;

float:left;
	margin-top:7px;
	display:inline-block;

	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	font-weight:bold;

	padding: 0px 15px 0px 15px;

	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;

	-webkit-box-shadow: 0 0 4px #333;
	-moz-box-shadow: 0 0 4px #333;
	box-shadow: 0 0 4px #333;

	line-height:20px;

	color: #999;
	background: #f6f6f6;
	letter-spacing:-0.06em;
	margin-right:4px;
}

.cssizer_tabs a#htmlCodeTab{
	margin-left:-3px;
}

.cssizer_tabs a#htmlCodeTab,
.cssizer_tabs a#cssCodeTab{
	padding-bottom:3px;
	line-height:25px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	border:1px solid #e8e8e8;

	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;

	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;

	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}

.cssizer_tabs a#htmlCodeTab:hover,
.cssizer_tabs a#cssCodeTab:hover,
.cssizer_tabs a#htmlCodeTab.active,
.cssizer_tabs a#cssCodeTab.active{
	-webkit-box-shadow: 0 0 4px #333;
	-moz-box-shadow: 0 0 4px #333;
	box-shadow: 0 0 4px #333;
	color:#666;
	background-color:white;
	background-image:none;
}

.cssizer_tabs a#cssCodeTab{
	margin-right:10px;
}

.cssizer_tabs a.unsaved{

	border:2px solid #8b1000;
	font-weight:bold;
	color:white;

	background-color: #e3781f;
	background-image: -webkit-gradient(linear, left top, left bottom, to(rgb(227, 120, 31)), from(rgb(197, 33, 21)));
	background-image: -webkit-linear-gradient(top, rgb(227, 120, 31), rgb(197, 33, 21));
	background-image: -moz-linear-gradient(top, rgb(227, 120, 31), rgb(197, 33, 21));
	background-image: -o-linear-gradient(top, rgb(227, 120, 31), rgb(197, 33, 21));
	background-image: -ms-linear-gradient(top, rgb(227, 120, 31), rgb(197, 33, 21));
	background-image: linear-gradient(top, rgb(227, 120, 31), rgb(197, 33, 21));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#e3781f', EndColorStr='#c52115');
	font-size:14px;

}

.cssizer_tabs a.unsaved:hover{
	color:#ffe8e2;
}

.cssizer_tabs a#htmlValidateTab{
	color:white;
	font-size:14px;
	border:2px solid #004503;
	background-color: #85c67e;
	background-image: -webkit-gradient(linear, left top, left bottom, to(rgb(133, 198, 126)), from(rgb(42, 127, 47)));
	background-image: -webkit-linear-gradient(top, rgb(133, 198, 126), rgb(42, 127, 47));
	background-image: -moz-linear-gradient(top, rgb(133, 198, 126), rgb(42, 127, 47));
	background-image: -o-linear-gradient(top, rgb(133, 198, 126), rgb(42, 127, 47));
	background-image: -ms-linear-gradient(top, rgb(133, 198, 126), rgb(42, 127, 47));
	background-image: linear-gradient(top, rgb(133, 198, 126), rgb(42, 127, 47));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#85c67e', EndColorStr='#2a7f2f');


}

.cssizer_tabs a#htmlValidateTab:hover{
	color:#e2ffe7;
}


.cssizer_tabs a#shareTab{
	background-color: #9fc2ff;
	background-image: -webkit-gradient(linear, left top, left bottom, to(rgb(159, 194, 255)), from(rgb(78, 142, 195)));
	background-image: -webkit-linear-gradient(top, rgb(159, 194, 255), rgb(78, 142, 195));
	background-image: -moz-linear-gradient(top, rgb(159, 194, 255), rgb(78, 142, 195));
	background-image: -o-linear-gradient(top, rgb(159, 194, 255), rgb(78, 142, 195));
	background-image: -ms-linear-gradient(top, rgb(159, 194, 255), rgb(78, 142, 195));
	background-image: linear-gradient(top, rgb(159, 194, 255), rgb(78, 142, 195));
	filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#9fc2ff', EndColorStr='#4e8ec3');
	color:white;
	border:2px solid #2a336c;
	font-size:14px;
}

.cssizer_tabs a#shareTab:hover{
	color:#e4efff;
}

#preloader{
	position:fixed;
	top:70px;
	right:100px;
	width:auto;
	padding: 8px 10px 8px 10px;
	color:white;
	background-color:red;
	font-weight:bold;
	font-size:14px;
	display:none;
	z-index: 6;
	
	background-color: #e3781f;
	background-image: -webkit-gradient(linear, left top, left bottom, to(rgb(227, 120, 31)), from(rgb(197, 33, 21)));
	background-image: -webkit-linear-gradient(top, rgb(227, 120, 31), rgb(197, 33, 21));
	background-image: -moz-linear-gradient(top, rgb(227, 120, 31), rgb(197, 33, 21));
	background-image: -o-linear-gradient(top, rgb(227, 120, 31), rgb(197, 33, 21));
	background-image: -ms-linear-gradient(top, rgb(227, 120, 31), rgb(197, 33, 21));
	background-image: linear-gradient(top, rgb(227, 120, 31), rgb(197, 33, 21));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e3781f', EndColorStr='#c52115');

	-webkit-box-shadow: 0px 0px 10px #555;
	-moz-box-shadow: 0px 0px 10px #555;
	-khtml-box-shadow: 0px 0px 10px #555;
}

#htmlVisualContainer{
	position:absolute;
	background-color:white;
	width:50%;
	top:36px;
}

#selectorContainer{
	position:absolute;
	z-index: 3;
	width:100%;
	height:100%;
	left:0;
	top:0;
}

#cssEditor,#htmlEditor{
	position:absolute;
	top:36px;
	left:0;
	overflow:auto;
	padding:0;
	height:100%;
	background-color:white;
}

.cssizerHighlight{
	position:absolute;
	top:0;
	left:0;
	background-color:#f2fcff;
	border:2px dashed #83c7e6;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-opacity:0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
}

.selectorName{
	background-color:lightyellow;
	padding:4px;
	margin:2px;
	display:inline-block;
	border:1px solid #cfcc86;
	color:#76744d;
	font-size:11px;
	width:auto;
	font-weight:bold;
}

/*code mirror styles*/
.CodeMirror{
	top:0;
	position:absolute;
	width:100%;
	height:auto;
	max-height:100%;
}

.CodeMirror pre{
	font-size:12px;
	font-family:"Monaco",Arial,Verdana,sans-serif!important;
}

.activeSelector{
	border:1px solid blue !important;
}

.CodeMirror-matchingbracket{
	color:#666 !important;
	border:1px solid #ccc !important;
}

.activeline{
	background-color:#f2fcff !important;
}

.CodeMirror-gutter{
	background-color:#e8e8e8 !important;
}

.CodeMirror-lines pre, .CodeMirror-gutter-text pre{
	height:16px !important;
	border-bottom:1px solid #f9f9f9;
}

.CodeMirror-gutter-text pre{
	border-bottom:1px solid #efefef;
}


#iframeCover{
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:transparent;
}


a.github {
	background-image: url(https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	right: -12px;
	top: -14px;
	z-index: 1000;
}

#versionNum{
	position:absolute;
	top:0px;
	right:110px;
	font-size:34px;
	font-weight:bold;
	color:#e8e8e8;
	text-shadow: -1px -1px 0px #ccc, 1px 1px 0px #fff;
	letter-spacing:-0.05em;
}


/*twitter section*/

#twitterBox{
	display:inline-block;
	float:right;
	width:auto;
	margin-right:190px;
}

#twitterBox #twitterLink{
	border:2px solid #083647;
	color:white;
	
	background-color: #99bdbd;
	background-image: -webkit-gradient(linear, left top, left bottom, to(#99bdbd), from(#1487af));
	background-image: -webkit-linear-gradient(top, #99bdbd, #1487af);
	background-image: -moz-linear-gradient(top, #99bdbd, #1487af);
	background-image: -o-linear-gradient(top, #99bdbd, #1487af);
	background-image: -ms-linear-gradient(top, #99bdbd, #1487af);
	background-image: linear-gradient(top, #99bdbd, #1487af);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99bdbd', EndColorStr='#1487af');

}

#twitterBuilds{
	display:block;
	overflow:hidden;
	max-height:400px;
	overflow-y:auto;
}

#twitterBuilds .twitterBuild{
	display:block;
	overflow:hidden;
	background-color:#efefef;
	padding:3px;
	margin-bottom:1px;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
}

#twitterBuilds .twitterBuild:nth-child(odd){
	background-color:#dfdfdf;
}

#twitterBuilds .twitterBuild a{
	color:#091e53;
	text-decoration:none;
	font-weight:bold;
}

#twitterBuilds .twitterBuild a:hover{
	text-decoration:underline;
}

#twitterBox #twitterLink:hover{
	color:#e8ffff;
}

#twitterBox img{
	display:inline-block;
	float:left;
	width:30px;
	height:auto;
	margin: 3px 8px 0px 0px;
}
