
<style type="text/css" media="screen">
.sparkTracer{
	height:auto !important; 
	display:block !important; 
	white-space:pre-wrap;
	font-size:13px !important;
	line-height:18px !important;
	overflow:auto !important;
	text-align:left !important;
	color:#8f9d6a !important;
	font-weight:normal !important;
	overflow:auto !important;
	padding:20px !important;
	font-family:"Monaco",Verdana,Arial,sans-serif !important;
	background-color:#2b2b2c !important;
}

.sparkTracer em, 
.sparkTracer strong{
	color:#d8ce84;
		font-weight:normal;
	font-style:normal;
}
.sparkTracerDebugBacktrace,.sparkTracerQuery,.sparkTracerBenchmark{
	display:block;
	padding: 8px 0px 8px 8px;
	background-color:#222;
	color:#c26549;
	display:block;
	border:1px solid #444;
	border-style:inset;
		margin-top:5px;
}

.sparkTracerQuery{

	color:#7485a4;
}

.sparkTracerQuery strong{
	color:#c3c3f4;
}
.sparkTracerQuery em{
	color:#f4c3d1;
}

</style>